<domain type='kvm'>
    <name>{{ domain_name }}</name>
    <uuid>{{ uuid }}</uuid>
    <os>
        <type>hvm</type>
        <bootmenu enable='yes' timeout='3000'/>
        <boot dev='hd'/>
        <bios useserial='yes' rebootTimeout='0'/>
    </os>
    <vcpu>8</vcpu>
    <memory unit='GiB'>32</memory>
    <currentMemory unit='GiB'>32</currentMemory>
    <cpu mode="host-passthrough" migratable="off">
    </cpu>
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>restart</on_crash>
    <devices>
        <disk type='file' device='disk'>
            <driver name='qemu' type='qcow2'/>
            <source file='{{ storage }}'/>
            <target dev='hda'/>
        </disk>
        <serial type='pty'>
            <target port='0'/>
        </serial>
        <interface type='network'>
            <source network='default'/>
            <mac address='72:34:54:dd:f3:25'/>
        </interface>
        <interface type='hostdev' managed='yes'>
            <driver name='vfio'/>
            <source>
                <address type='pci' domain='0x0000' bus='0x{{ nic.bus }}' slot='0x{{ nic.slot }}' function='0x{{ nic.function }}'/>
            </source>
            <mac address='{{ mac_address }}'/>
        </interface>
    </devices>
    <features>
          <acpi/>
    </features>
</domain>
